<h1>Attendance Report for <%= @member_name %></h1>
<% if @gen_html %>
<%= form_tag(
    { controller: 'attendance_report', action: 'generate_pdf'},
    { method: 'post' }
  ) do %>
  <input type="hidden" name="record_id" value="<%= @record_id %>">
  <input type="hidden" name="member_name" value="<%= @member_name %>">
  <button type="submit" class="btn btn-primary">Download PDF</button>
<% end %>
<p></p>
<% end %>
<h2>Attendance Stats</h2>
<table class="table table-striped">
  <caption>Total attendance over the past 12 month period.</caption>
  <tbody>
    <tr>
      <th scope="row" class="stretch">Meetings</th>
      <td><%= @meetings.length %></td>
    </tr>
    <tr>
      <th scope="row" class="stretch">Events</th>
      <td><%= @events.length %></td>
    </tr>
  </tbody>
</table>

<h2>Event Attendance</h2>
<table class="table table-striped">
  <caption>Events attended falling within the last 12 months.</caption>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Venue</th>
      <th scope="col">Point Members</th>
      <th scope="col">Reporting Member</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td class="stretch"><%= event[:date] %></td>
      <td><%= event[:name] %></td>
      <td><%= event[:venue] %></td>
      <td class="stretch">
        <% if event[:point_members].nil? %>
          None
        <% else %>
          <% event[:point_members].each do |pm|  %>
            <%= pm %><br>
          <% end %>
        <% end %>
      </td>
      <td class="stretch">
        <% if event[:reporting_member].nil? %>
          None
        <% else %>
          <%= event[:reporting_member] %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>GM Meeting Attendance</h2>
<table class="table table-striped">
  <caption>GM Meetings attended in the last 12 months</caption>
  <thead>
    <th scope="col">Date</th>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting[:date] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

