- title "Attendance Report for #{@member_name}"
%h1
  Attendance Report for #{@member_name}
- if @gen_html
  = bootstrap_form_with url: { controller: 'attendance_report', 
    action: 'generate_pdf'}, method: 'post', local: true,
    html: {target: :_blank} do |f|
    = f.hidden_field :record_id, value: @record_id
    = f.hidden_field :member_name, value: @member_name
    = f.primary 'Download PDF', disable: false
  %p
%h2 Attendance Stats
%table.table.table-striped
  %caption Total attendance over the past 12 month period.
  %tbody
    %tr
      %th.stretch{:scope => "row"} Meetings
      %td= @meetings.length
    %tr
      %th.stretch{:scope => "row"} Events
      %td= @events.length
%h2 Event Attendance
%table.table.table-striped
  %caption Events attended falling within the last 12 months.
  %thead
    %tr
      %th{:scope => "col"} Date
      %th{:scope => "col"} Name
      %th{:scope => "col"} Venue
      %th{:scope => "col"} Point Members
      %th{:scope => "col"} Reporting Member
  %tbody
    - @events.each do |event|
      %tr
        %td.stretch= event[:date]
        %td= link_to event[:name], event[:href]
        %td= event[:venue]
        %td.stretch
          - if event[:point_members].nil?
            None
          - else
            - event[:point_members].each do |pm|
              = pm
              %br/
        %td.stretch
          - if event[:reporting_member].nil?
            None
          - else
            = event[:reporting_member]
%h2 GM Meeting Attendance
%table.table.table-striped
  %caption GM Meetings attended in the last 12 months
  %thead
    %th{:scope => "col"} Date
  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= link_to meeting[:date], meeting[:href]
