- title 'User Administration'
= form_with(scope: :users,
  url: {controller: 'users', action: 'bulk_update'},
  method: 'post', local: true) do |f|
  %table.table.table-striped
    %thead
      %tr
        %th{:scope => 'col'} Local User
        %th{:scope => 'col'} Linked Record
        %th{:scope => 'col'} Admin
        %th{:scope => 'col'} Secretary
        %th{:scope => 'col'} Calendar Admin
    %tbody
      - @users.each do |user|
        = fields_for "users[#{user.id}]", user do |fu|
          %tr
            %td= user.display_name
            %td
              = fu.collection_select :record_link, @members, :id, :pseudonym,
                {include_blank: 'No Record Linked'},
                {class: 'form-control custom-select'}
              %br
              %span.text-muted= user.record_link || 'No Record Linked'
              %br
              = hidden_field_tag "users[#{user.id}][roles][]"
            - ['admin','secretary', 'calendar_admin'].each do |role|
              %td
                = fu.check_box :roles, {multiple: true}, role, nil
      %tr
        %td
        %td
        %td
        %td
        %td
          = f.submit "Save Changes",
            data: { disable_with: 'Please wait...'},
            class: 'btn btn-primary'
