%h1 Calendar
.d-flex.justify-content-end
  = link_to 'Print Next 12 Months', calendar_events_generate_pdf_path,
    class: 'btn btn-primary mx-2'
  = link_to 'Create New Calendar Event', new_calendar_event_path,
    class: 'btn btn-primary mx-2'

.d-flex.flex-row.my-3
  .p-2.event.holiday-event.align-self-center
    Holidays
  .p-2.event.birthday-event.align-self-center
    Birthdays
  .p-2.event.normal-event.align-self-center
    Sister Event
  .pl-2.py-2.align-self-center
    %img{src: asset_pack_path('src/scss/warning.svg')}
  .pr-2.py-2.mr-auto.align-self-center
    Connections needs to approve
  = bootstrap_form_with scope: :go_to, layout: :inline,
    method: :get, url: calendar_events_path, local: true do |f|
    .p-2
      = f.date_select :date, discard_day: true, use_short_month: true,
        hide_label: true, selected: params[:start_date]
    .p-2
      = f.primary 'Go'

%p Click event name to view details.

=month_calendar events: @calendar_events do |date, events|
  .date=date.day
  -all_day_first(events).each do |e|
    .event{class: event_additional_classes(e)}
      - if e.type == 'Birthday'
        .event-desc=e.name
      - else
        .event-desc=link_to e.name, calendar_event_path(e.id)
      .event-time=start_to_end_string e

