<%= render "shared/form_shims" %>
<%= javascript_tag 'EventPickerUi.setupDatePickerAutoSearch();' %>
<% can_edit = 
  is_admin? || current_user.record_link == @event.reporting_member_raw %>
<h1>Point Nun Report Form</h1>
<% unless can_edit %>
  <div class="invalid-feedback independent-feedback">
    You cannot edit this event as you did not submit it!
  </div>
<% end %>
<div class="container">
  <%= bootstrap_form_with(
    model: @event,
    url: {controller: 'events', action: 'edit_do', id: @event.id},
    layout: :horizontal,
    local: true
  ) do |f| %>
    <% unless can_edit %>
      <fieldset disabled>
    <% end %>
    <%= f.date_field :date,
      value: @event.date,
      min: '2010-01-01',
      label: 'Date of Event',
      class: 'datepicker' %>
    <div class="d-none" id="same_day_events_description">
      <p>These events are on the same day. Please do not submit duplicate events.
        Please click the link to edit that event.</p>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div id="same_day_events"></div>
      </div>
    </div>
    <%= f.fields_for(@reporting_member) do |fm| %>
      <%= fm.static_control :pseudonym, label: 'Reporting Member', name: '' %>
    <% end %>
    <%= f.hidden_field :reporting_member_raw %>
    <%= f.text_field :name, label: 'Event Name', autocomplete: 'none' %>
    <%= f.text_field :venue %>
    <%= f.text_field :purpose, label: 'Purpose of Event' %>
    <%= f.text_field :successes, label: 'Event Sucesses' %>
    <%= f.text_field :challenges, label: 'Event Challenges' %>
    <%= collection_check_boxes_columns f, :point_members_raw,
      active_member_records, :id, :pseudonym, label_text: 'Point Members' %>
    <%= collection_check_boxes_columns f, :attendees_raw,
      active_member_records, :id, :pseudonym, label_text: 'Attendees',
      errors: @event.errors[:attendees] %>
    <%= hidden_field(:event, :form_filed) %>
<% if can_edit %>
    <%= submit("Create Event") %>
<% else %>
  </fieldset>
<% end %>
<% end %>
</div>

