<%= javascript_tag do %>
  EventPickerUi.setupSelectEventDateSearch(); 
<% end %>
<h2>Select Point Nun Report Form to Edit</h2>
<%= bootstrap_form_with scope: :select, layout: :inline do |f| %>
  <%= f.number_field :month, min: 1, max: 12, prepend: 'Month', hide_label: true %> 
  <div class="px-1"></div>
  <%= f.number_field :year, prepend: 'Year', hide_label: true, inline: true %>
  <div class="px-1"></div>
  <%= f.primary 'Search', 
    type: 'button', 
    id: 'search_button',
    data: { disable_with: 'Searching...' } %>
    </div>
  </div>
<% end %>

<div class="d-none" id="same_day_events_description">
  <p>Please select the link below for the Point Nun Form you want to edit.</p>
</div>
<div id="same_day_events" class="container">
</div>
