.simple-calendar
  .calendar-heading.d-flex.flex-row.justify-content-between
    .p-2
      = link_to t('simple_calendar.previous', default: 'Previous Month'), 
        calendar.url_for_previous_view, class: 'btn btn-primary'
    .p-2
      %span.calendar-title
        = t('date.month_names')[start_date.month]
        = start_date.year
    .p-2
      = link_to t('simple_calendar.next', default: 'Next Month'), 
        calendar.url_for_next_view, class: 'btn btn-primary'
  %table#calendar.table
    %thead
      %tr.weekdays.bg-light
        - date_range.slice(0, 7).each do |day|
          %th{scope: 'col'}= t('date.day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        = content_tag :tr, class: 'days' do
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block)
                - capture_haml(day, sorted_events.fetch(day, []), &block)
              - else
                - block.call day, sorted_events.fetch(day, [])
