<tr>
  <th scope="row"><%= label_text %></th>
  <td>
    <input class="form-control"
           type="<%= type %>"
           name="<%= "#{object}[#{field_name}]" %>"
           value="<%= value %>">
    <%= hidden_field_tag "air_name_#{object}[#{field_name}]", label_text %>
    <%= hidden_field_tag "original_#{object}[#{field_name}]", value %>
  </td>
</tr>
