= render 'shared/form_shims'
- if user_signed_in?
  %h2 Office365 Info
  %p Please contact the Secretary to update this info.
  = bootstrap_form_with(                                 |
      model: @user,                                      |
      url: {controller: 'me', action: 'update_profile'}, |
      layout: :horizontal                                |
    ) do |f|                                             |
    = f.static_control :display_name
    = f.static_control :email
    = f.static_control :job_title
- else
  %h2 Office365 Info is Missing. Please contact Secretary!
.w-100
  %hr/
- if @member
  = bootstrap_form_with(                                 |
      scope: :profile,                                   |
      url: {controller: 'me', action: 'update_profile'}, |
      layout: :horizontal,                               |
      local: true                                        |
    ) do |f|                                             |
    %h2 Member Info
    .container.my-3
      = f.fields_for @member, layout: :horizontal do |fm|
        = fm.text_field :full_name
        = fm.select(                            |
            :path,                              |
            @paths,                             |
            {include_blank: 'No Path Selected'} |
          )                                     |
        = fm.text_field :pseudonym
        = fm.text_field :mobile_number
        = fm.text_field :email_address
        = fm.text_field :address, label: 'Street Address'
        = fm.text_field :city
        = fm.text_field :state
        = fm.text_field :zip
      = f.primary 'Save Changes'
    .w-100
      %hr/
    %h2 Emergency Contact Info
    .container.my-3
      = f.fields_for @e_contact do |fe|
        = fe.text_field :contact_name
        = fe.text_field :cell_phone, label: 'Mobile Number'
        = fe.text_field :address, label: 'Street Address'
        = fe.text_field :city
        = fe.text_field :state
        = fe.text_field :zip
        = fe.text_field :relationship, label: 'Relationship to Member'
      = f.primary 'Save Changes'
- else
  %h2 Membership Info in Airtable Not Linked. Contact Secretary.
