!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", 
      "http-equiv" => "Content-Type"}
    %title="SFSPI Management: #{content_for?(:title) ? yield(:title) : 'Home'}"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", 
      :name => "viewport"}
    = render partial: 'layouts/favicons'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 
      'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.light.bg-light
      %a.navbar-brand{:href => "/"}
        = img_src_set prefix: 'images/logo', ext: 'png',
          default_size: '20w', class: 'img-fluid',
          srcset: [ {size: '20w', max_wdith: '576px', image_size: '20px'},
            {size: '80w', min_width: '992px', image_size: '60px'}, 
            {size: '40w', min_width: '577px', image_size: '40px'} ]
        SFSPI Intranet
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", 
        "aria-expanded" => "false", 
        "aria-label" => "Toggle navigation", 
        "data-target" => "#navbarSupportedContent", 
        "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        - if user_signed_in?
          %ul.navbar-nav.mr-auto
            - if current_user.record_link
              = nav_link_to "Attendance Report", attendance_start_path, 
                :inclusive
              = dropdown_nav "Events", "eventDropdown", /^\/events/,
                [ { name: 'Point Nun Report Form', path: new_event_path }, 
                  { name: 'Look Up Old Point Nun Form', path: events_path } ]                                                          
              = dropdown_nav "Meetings", "meetingsDropdown", /^\/meetings/,
                meetings_dropdown_links
              = nav_link_to "Members", members_path, :inclusive
            - if is_admin?
              = dropdown_nav 'Administration', 'adminDropdown', /^\/admin/, 
                [ { name: 'Manage User Roles and Record Links', 
                path: users_path } ]
          .navbar-nav
            = dropdown_nav current_user.display_name, 'profileDropdown', 
              /^\/me/, user_dropdown_links
        - else
          .navbar-nav.mr-auto
          .navbar-nav
            %a.btn.btn-primary{:href => "/auth/microsoft_v2_auth", 
              :role => "button"}
              Login with Office365
    - flash.each do |key, value|
      %div{:class => "container #{flash_class(key)}"}
        - if value.is_a? Array
          %ul
            - value.each do |message|
              %li= message
        - else
          = value
    .container.main-container.pt-2
      - if user_signed_in? && current_user.record_link.nil?
        .text-white.bg-danger 
          Please contact the Secretary to finish setting up your user account
      = yield
