<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SFSPI Membership Reports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" 
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' -->
    <!-- javascript_include_tag 'application', 'data-turbolinks-track': 'reload' -->
    <%= favicon_link_tag asset_pack_path('images/favicon.ico'), rel: 'icon', type: 'image/x-icon' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload'%>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384&#45;MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <!-- <script src="https://code.jquery.com/jquery&#45;3.3.1.slim.min.js" integrity="sha384&#45;q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384&#45;ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384&#45;ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

  </head>

  <body>


  <nav class="navbar navbar-expand-lg navbar-dark dark bg-dark">
    <a class="navbar-brand" href="#">SFSPI Reporting System</a>
    <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= nav_link_to "Home", root_path, :exclusive %>
        <%= nav_link_to "Attendance Report", attendance_start_path, :inclusive %>
        <%= dropdown_nav "Events", "eventDropdown", /^\/events/, 
          [
            { name: 'Point Nun Report Form', path: event_new_path },
            { name: 'Edit Previous Form', path: select_event_path }
          ] 
        %>
        <% if is_admin? %>
        <%= dropdown_nav 'Administration', 'adminDropdown', /^\/admin/, 
              [ 
                { name: 'Users', path: admin_users_get_path }
              ]
        %>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <div class="navbar-nav">
        <%= dropdown_nav current_user.display_name, 'profileDropdown', /^\/me/,
              [
                { name: 'Logout', path: logout_path },
                { name: 'Profile', path: me_path }
              ]
        %>
        </div>
      <% else %>
        <a class="btn btn-primary" 
            href="/auth/microsoft_v2_auth" 
            role="button">
          Login with Office365
        </a>
      <% end %>
    </div>
  </nav>

<% flash.each do |key, value| %>
  <div class="container <%= flash_class(key) %>">
    <% if value.is_a? Array %>
      <ul>
        <% value.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% else %>
      <%= value %>
    <% end %>
  </div>
<% end %>

  <div class="container main-container">
<%= yield %>
  </div>
  </body>
</html>
